.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #222;
  color: white;
}
